@include tablet {
  .menu-hamburger {
    top: 2.5rem;
    right: 2.5rem;

    .menu-line {
      width: 5rem;
      background: $font-color;
    }

    &.close {
      .menu-line {
        &:nth-child(2) {
          top: -3.5rem;
          right: -1.25rem;
          width: 7rem;
          height: 7rem;
        }
      }
    }

    &.show {
      .menu-line {
        margin-bottom: 0.8rem;
      }
    }
  }

  nav {
    .portrait-container, .links-container {
      width: 50%;
      height: 100vh;
      float: left;
    }

    .portrait-container {
      transform: translate(-100vw, 0);

      .menu-portrait {
        width: 25rem;
        height: 25rem;
      }
    }

    .links-container {
      transform: translate(100vw, 0);
    }
  }

  main {
    .home {
      margin-top: 12.5vh;
      text-align: left;
      padding: 15rem;
  
      .small-header {
        font-size: 3rem;
      }
    }
  }

  h1, h2, h3 {
    margin-bottom: 3rem;
  }
}

@include desktop {
  .menu-hamburger {
    top: 3.5rem;
    right: 3.5rem;

    &:hover .menu-line {
      background: $primary-color;
    }
  }

  nav {
    .portrait-container {
      .menu-portrait {
        &::after {
          content: '';
          @include ease-out(0.5s);
          background: rgba(darken($bg-color, 5), 0.4);
          z-index: 5;
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 50%;
          cursor: pointer;
        }
  
        &:hover::after {
          opacity: 0;
        }
      }
    }
    .links-container {
      .menu-item {
        .menu-link:hover {
          @include ease-out(0.5s);
          color: $primary-color;
        }
      }
    }
  }

  main {
    .home {
      margin-top: 10vh;

      .large-header {
        font-size: 8rem;
      }
  
      .small-header {
        font-size: 3.5rem;
      }
    }
  }
}
