@include tablet {
  .menu-hamburger {
    top: 2.5rem;
    right: 2.5rem;

    .menu-line {
      width: 5rem;
      background: $font-color;
    }

    &.close {
      .menu-line {
        &:nth-child(2) {
          top: -3.5rem;
          right: -1.25rem;
          width: 7rem;
          height: 7rem;
        }
      }
    }

    &.show {
      .menu-line {
        margin-bottom: 0.8rem;
      }
    }
  }

  nav {
    .portrait-container, .links-container {
      width: 50%;
      height: 100vh;
      float: left;
    }

    .portrait-container {
      transform: translate(-100vw, 0);

      .menu-portrait {
        width: 25rem;
        height: 25rem;
      }
    }

    .links-container {
      transform: translate(100vw, 0);
    }
  }

  main {
    .home {
      margin-top: 12.5vh;
      text-align: left;
      padding: 15rem;
  
      .small-header {
        font-size: 3rem;
      }
    }

    .work__container {
      grid-template-columns: repeat(3, 1fr);

      .work__project {
        .project__figure {
  
          .caption {
            font-size: 2rem;
          }
        }
  
        .github-button {
          font-size: 2rem;
  
          i {
            padding-right: 1.5rem;
            font-size: 4rem;
          }
        }
      }
    }

    .bio {
      width: 80%;
      margin: 0 auto;
    }

    .contact {
      .contact-container {
        @include display-flex(null, space-around);
        width: 80vw;
        margin: 2rem auto 0 auto;
      }
      .contact-item {
        width: 33.3%;
      }

      p {
        margin-top: 1rem;
      }
    }
  }

  h1, h2, h3 {
    margin-bottom: 3rem;
  }
}

@include desktop {
  .menu-hamburger {
    top: 3.5rem;
    right: 3.5rem;
  }

  nav {
    .portrait-container {
      .menu-portrait {
        &::after {
          content: '';
          @include ease-out(0.5s);
          background: rgba(darken($bg-color, 5), 0.4);
          z-index: 5;
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 50%;
          cursor: pointer;
        }
  
        &:hover::after {
          opacity: 0;
        }
      }
    }
  }

  main {
    .home {
      margin-top: 10vh;

      .large-header {
        font-size: 8rem;
      }
  
      .small-header {
        font-size: 3.5rem;
      }
    }

    .work {
      max-width: 120rem;
      margin: 0 auto;
    }

    .work__container {
      grid-template-columns: repeat(4, 1fr);

      .work__project {

        .project__figure {
          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: darken(rgba($bg-color, 0.6), 10);
            @include ease-out(1s);
          }

          &:hover::before {
            background: none;
          }

          .caption {
            font-size: 2.5rem;
          }
        }
      }

      .github-button {
        font-size: 2.5rem;
      }

      i {
        font-size: 5rem;
      }
    }

    .bio {
      max-width: 120rem;

      .bio__image {
        height: 65vh;
        background-position: center;
      }
    }

    .contact {
      .contact-background {
        .contact-image {
          height: 55vh;
        }
      }
      .contact-item {
        .round-background {
          height: 10rem;
          width: 10rem;

          i {
            font-size: 5rem;
          }
        }
      }
    }
  }
}
