@mixin background-image {
  &.bg-home {
    background-image: $bg-img;
    background-size: cover;
    background-attachment: fixed;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba($bg-color, $bg-opacity);
      z-index: -1;
    }
  }
}

@mixin ease-out($duration) {
  transition: all $duration ease-out;
}

@mixin center-text {
  text-align: center;
}

@mixin full-width {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin display-flex ($align: normal, $justify: normal) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
