@import 'variables';
@import 'mixins';
@import 'menu';
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  color: $font-color;
}

body {
  @include background-image;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background: $bg-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $font-color;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

p {
  line-height: 1.5;
  font-size: 1.8rem;
}

.inline-link {
  color: $primary-color;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 0.2rem;
    background: $primary-color;
    position: absolute;
    bottom: -0.1rem;
    left: 0;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

main {
  min-height: 100vh;
  padding: 5rem 1.5rem 1.5rem 1.5rem;

  .home {
    @include center-text;
    min-height: 100vh;
    margin-top: 15vh;
    padding: 2rem;

    .large-header {
      font-size: 6rem;
      transform: translate(0, -100vh);
      @include ease-out(1.5s);

      &.show {
        transform: translate(0, 0);
      }
    }

    .small-header {
      font-size: 2.5rem;
      background: rgba(lighten($bg-color, 5%), 0.6);
      padding: 1rem;
      display: inline-block;
      transform: translate(0, 200vh);
      @include ease-out(1.5s);

      &.show {
        transform: translate(0, 0);
      }
    }

    .home-icons {
      transform: translate(-100vw, 0);
      @include ease-out(1.5s);

      &.show {
        transform: translate(0, 0);
      }
      a {
        padding: 1rem;

        &:hover {
          @include ease-out(0.5s);
          color: $primary-color;
        }
      }
    }
  }

  .work {
    .large-header {
      @include center-text;
    }
  }

  .work__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 1rem;

    .work__project {
      .project__figure {
        position: relative;
        border: 0.2rem solid $font-color;

        .caption {
          position: absolute;
          width: 100%;
          bottom: 0;
          @include center-text;
        }
        .caption-light {
          background: rgba($font-color, 0.8);
          color: $bg-color;
        }
      }
    }
      .github-button {
        width: 100%;
        @include display-flex(center, center);
        margin-top: 0.5rem;
        background: $bg-color;
        color: $font-color;
        text-transform: uppercase;
        border: 0.2rem solid $font-color;
        border-radius: 0 0 0.4rem 0.4rem;
        cursor: pointer;
        @include ease-out(1s);

        &:hover {
          color: $primary-color;
        }

        i {
          padding-right: 1rem;
        }
      }
  }

  .bio {
    .large-header {
      @include center-text;
    }

    .bio__image {
      background: url('/public/img/bio/bio-image.jpg');
      background-size: cover;
      width: 100vw;
      height: 30vh;
      @include full-width;
      margin-bottom: 3rem;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: lighten(rgba($bg-color, 0.1), 5);
      }

      img {
        border-radius: 1rem;
      }
    }

    .bio__container {
      padding: 1rem;
      background: lighten($bg-color, 5);
      border-radius: 1rem;
    }
  }

  .contact {
    .large-header {
      @include center-text;
    }
    .contact-background {
      position: relative;

      &::after {
        content: '';
        @include full-width;
        position: absolute;
        background: lighten(rgba($bg-color, 0.3), 5);
        height: 100%;
        width: 100%;
      }

      .contact-image {
        height: 30vh;
        width: 100vw;
        @include full-width;
      }
    }

    .contact-item {
      @include display-flex(center);
      flex-direction: column;
      margin: 1rem auto 2rem auto;

      .round-background {
        height: 6rem;
        width: 6rem;
        background: lighten($bg-color, 10%);
        border-radius: 50%;
        @include display-flex(center, center);

        i:hover {
          @include ease-out(0.5s);
          color: $primary-color;
        }
      }

      p {
        box-shadow: 0 0.2rem 0 0 $primary-color;
        padding-bottom: 0.2rem;
        text-align: center;
      }
    }
  }
}

h1, h2, h3 {
  font-weight: 400;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
}

.highlighted-text {
  color: $primary-color;
}

@import 'media-queries';
