@import url("https://fonts.googleapis.com/css?family=Roboto");
.menu-hamburger {
  transition: all 1s ease-out;
  position: absolute;
  z-index: 3;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer; }
  .menu-hamburger:hover .menu-line {
    background: #DD4124; }
  .menu-hamburger .menu-line {
    transition: all 1s ease-out;
    width: 3rem;
    height: 0.5rem;
    margin-bottom: 0.5rem;
    background: #fff; }
  .menu-hamburger.close {
    transform: rotate(180deg); }
    .menu-hamburger.close .menu-line:nth-child(1) {
      transform: rotate(45deg) translate(0.1rem, -0.5rem); }
    .menu-hamburger.close .menu-line:nth-child(2) {
      position: absolute;
      background-color: rgba(204, 0, 102, 0);
      border: 0.3rem solid #fff;
      height: 5rem;
      width: 5rem;
      top: -2.6rem;
      right: -1.35rem;
      border-radius: 7.5rem; }
    .menu-hamburger.close .menu-line:nth-child(3) {
      transform: rotate(-45deg) translate(1rem, -0.7rem); }

nav {
  position: fixed;
  width: 100%;
  top: 0;
  visibility: hidden; }
  nav.show {
    visibility: visible; }
  nav .portrait-container, nav .links-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    overflow: hidden; }
  nav .portrait-container {
    transition: all 1s ease-out;
    background: rgba(51, 51, 51, 0.6);
    transform: translate(0, -100vh);
    height: 30vh; }
    nav .portrait-container.show {
      transform: translate(0, 0); }
    nav .portrait-container .menu-portrait {
      width: 15rem;
      height: 15rem;
      background: url("/public/img/portrait.jpg");
      background-size: cover;
      border-radius: 50%;
      border: 0.3rem solid #DD4124; }
  nav .links-container {
    transition: all 1s ease-out;
    background: rgba(38, 38, 38, 0.8);
    height: 70vh;
    text-transform: uppercase;
    transform: translate(0, 100vh); }
    nav .links-container.show {
      transform: translate(0, 0); }
    nav .links-container .menu-item {
      transition: all 2s ease-out;
      font-size: 4rem;
      padding: 1rem;
      list-style-type: none;
      opacity: 0;
      cursor: pointer; }
      nav .links-container .menu-item.show {
        opacity: 1;
        transition-delay: 1.1s; }
    nav .links-container .menu-link {
      transition: all 0.5s ease-out; }
      nav .links-container .menu-link:hover {
        color: #DD4124; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px;
  color: #fff; }

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background: #333;
  overflow-x: hidden; }
  body.bg-home {
    position: relative;
    background-image: url(/public/img/home-background.jpg);
    background-size: cover;
    background-attachment: fixed; }
    body.bg-home::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.9);
      z-index: -1; }

a {
  text-decoration: none;
  color: #fff; }

img {
  width: 100%;
  max-height: 100%;
  object-fit: cover; }

p {
  line-height: 1.5;
  font-size: 1.8rem; }

span[aria-current=true] {
  color: #DD4124; }

.inline-link {
  color: #DD4124;
  position: relative; }
  .inline-link::after {
    content: '';
    width: 100%;
    height: 0.2rem;
    background: #DD4124;
    position: absolute;
    bottom: -0.1rem;
    left: 0; }

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0; }

main {
  min-height: 100vh;
  padding: 5rem 1.5rem 1.5rem 1.5rem; }
  main .home {
    text-align: center;
    min-height: 100vh;
    margin-top: 15vh;
    padding: 2rem; }
    main .home .large-header {
      font-size: 6rem;
      transform: translate(0, -100vh);
      transition: all 1.5s ease-out; }
      main .home .large-header.show {
        transform: translate(0, 0); }
    main .home .small-header {
      font-size: 2.5rem;
      background: rgba(64, 64, 64, 0.6);
      padding: 1rem;
      display: inline-block;
      transform: translate(0, 200vh);
      transition: all 1.5s ease-out; }
      main .home .small-header.show {
        transform: translate(0, 0); }
    main .home .home-icons {
      transform: translate(-100vw, 0);
      transition: all 1.5s ease-out; }
      main .home .home-icons.show {
        transform: translate(0, 0); }
      main .home .home-icons a {
        padding: 1rem; }
        main .home .home-icons a:hover {
          transition: all 0.5s ease-out;
          color: #DD4124; }
  main .work .large-header {
    text-align: center; }
  main .work__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 1rem; }
    main .work__container .work__project .project__figure {
      position: relative;
      border: 0.2rem solid #fff; }
      main .work__container .work__project .project__figure .caption {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center; }
      main .work__container .work__project .project__figure .caption-light {
        background: rgba(255, 255, 255, 0.8);
        color: #333; }
    main .work__container .github-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      background: #333;
      color: #fff;
      text-transform: uppercase;
      border: 0.2rem solid #fff;
      border-radius: 0 0 0.4rem 0.4rem;
      cursor: pointer;
      transition: all 1s ease-out; }
      main .work__container .github-button:hover {
        color: #DD4124; }
      main .work__container .github-button i {
        padding-right: 1rem; }
  main .bio .large-header {
    text-align: center; }
  main .bio .bio__image {
    background: url("/public/img/bio/bio-image.jpg");
    background-size: cover;
    width: 100vw;
    height: 30vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 3rem; }
    main .bio .bio__image::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(64, 64, 64, 0.1); }
    main .bio .bio__image img {
      border-radius: 1rem; }
  main .bio .bio__container {
    padding: 1rem;
    background: #404040;
    border-radius: 1rem; }
  main .contact .large-header {
    text-align: center; }
  main .contact .contact-background {
    position: relative; }
    main .contact .contact-background::after {
      content: '';
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      position: absolute;
      background: rgba(64, 64, 64, 0.3);
      height: 100%;
      width: 100%; }
    main .contact .contact-background .contact-image {
      height: 30vh;
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw; }
  main .contact .contact-item {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto 2rem auto; }
    main .contact .contact-item .round-background {
      height: 6rem;
      width: 6rem;
      background: #4d4d4d;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      main .contact .contact-item .round-background i:hover {
        transition: all 0.5s ease-out;
        color: #DD4124; }
    main .contact .contact-item p {
      box-shadow: 0 0.2rem 0 0 #DD4124;
      padding-bottom: 0.2rem;
      text-align: center; }

h1, h2, h3 {
  font-weight: 400;
  margin-bottom: 2rem;
  letter-spacing: 1.5px; }

.highlighted-text {
  color: #DD4124; }

@media screen and (min-width: 768px) {
  .menu-hamburger {
    top: 2.5rem;
    right: 2.5rem; }
    .menu-hamburger .menu-line {
      width: 5rem;
      background: #fff; }
    .menu-hamburger.close .menu-line:nth-child(2) {
      top: -3.5rem;
      right: -1.15rem;
      width: 7rem;
      height: 7rem; }
    .menu-hamburger.close .menu-line:nth-child(3) {
      transform: rotate(-45deg) translate(1rem, -1rem); }
    .menu-hamburger.show .menu-line {
      margin-bottom: 0.8rem; }
  nav .portrait-container, nav .links-container {
    width: 50%;
    height: 100vh;
    float: left; }
  nav .portrait-container {
    transform: translate(-100vw, 0); }
    nav .portrait-container .menu-portrait {
      width: 25rem;
      height: 25rem; }
  nav .links-container {
    transform: translate(100vw, 0); }
  main .home {
    margin-top: 12.5vh;
    text-align: left;
    padding: 15rem; }
    main .home .small-header {
      font-size: 3rem; }
  main .work__container {
    grid-template-columns: repeat(3, 1fr); }
    main .work__container .work__project .project__figure .caption {
      font-size: 2rem; }
    main .work__container .work__project .github-button {
      font-size: 2rem; }
      main .work__container .work__project .github-button i {
        padding-right: 1.5rem;
        font-size: 4rem; }
  main .bio {
    width: 80%;
    margin: 0 auto; }
  main .contact .contact-container {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin: 2rem auto 0 auto; }
  main .contact .contact-item {
    width: 33.3%; }
  main .contact p {
    margin-top: 1rem; }
  h1, h2, h3 {
    margin-bottom: 3rem; } }

@media screen and (min-width: 1025px) {
  .menu-hamburger {
    top: 3.5rem;
    right: 3.5rem; }
  nav .portrait-container .menu-portrait::after {
    content: '';
    transition: all 0.5s ease-out;
    background: rgba(38, 38, 38, 0.4);
    z-index: 5;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    cursor: pointer; }
  nav .portrait-container .menu-portrait:hover::after {
    opacity: 0; }
  main .home {
    margin-top: 10vh; }
    main .home .large-header {
      font-size: 8rem; }
    main .home .small-header {
      font-size: 3.5rem; }
  main .work {
    max-width: 120rem;
    margin: 0 auto; }
  main .work__container {
    grid-template-columns: repeat(4, 1fr); }
    main .work__container .work__project .project__figure::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(26, 26, 26, 0.6);
      transition: all 1s ease-out; }
    main .work__container .work__project .project__figure:hover::before {
      background: none; }
    main .work__container .work__project .project__figure .caption {
      font-size: 2.5rem; }
    main .work__container .github-button {
      font-size: 2.5rem; }
    main .work__container i {
      font-size: 5rem; }
  main .bio {
    max-width: 120rem; }
    main .bio .bio__image {
      height: 65vh;
      background-position: center; }
  main .contact .contact-background .contact-image {
    height: 55vh; }
  main .contact .contact-item .round-background {
    height: 10rem;
    width: 10rem; }
    main .contact .contact-item .round-background i {
      font-size: 5rem; } }
